*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	background:url(../img/blurred_bg.jpg);
	font-family:'Helvetica' ,sans-serif;
}

.css, .jquery{
	display:block;
	float:left;
	width:50%;
}
#trigger{
	background: #FFf;
	border-radius: 3px; 
	color: #000;
	display: block;
	margin: 40px;
	padding: 10px;
	text-align: center;
	width: 300px;
}
.css{
	#menu{
		min-height:110px;
		height:110px;
		width:100px;
		margin:0 auto;
		position:relative;
		-webkit-margin-before:0;
		-webkit-margin-after:0;
		padding:0;
		opacity:0.1;

		.item{
			background:rgba(255, 255, 255, 0.5);
			border:2px solid rgba(255, 255, 255, 0.3);
			border-radius:50px;
			display:block;
			margin:10px 0;
			width:100px;
			height:100px;
			padding:8px 0;
			text-align:center;
			position:absolute;
			top:0;
		}
		.item a{
			background:rgba(255, 255, 255, 0.3);
			border-radius:41px;
			color:#f1f1f1;
			display:block;
			font-size:24px;
			font-weight:bold;
			margin:0 auto;
			height:80px;
			width:80px;
			text-decoration:none;
		}

		&:hover{
			opacity:1;

			.item:first-child{
				-webkit-transition: all .3s ease-in-out;
			}
			.item:nth-child(2){
				-webkit-transition: all .3s ease-in-out;
				-webkit-transition-delay: .07s;
				top:150px;
			}
			.item:nth-child(3){
				-webkit-transition: all .3s ease-in-out;
				top:300px;
			}
		}
	}
}

.jquery{
	#menu{
		display:none;
		min-height:110px;
		width:100px;
		margin:0 auto;
		position:relative;
		-webkit-margin-before:0;
		-webkit-margin-after:0;
		padding:0;
		opacity:0.1;

		.item{
			background:rgba(255, 255, 255, 0.5);
			border:2px solid rgba(255, 255, 255, 0.3);
			border-radius:50px;
			display:block;
			margin:10px 0;
			width:100px;
			height:100px;
			padding:8px 0;
			text-align:center;
			position:relative;
			top:0;
			-webkit-transition: all .3s ease-in-out;
		}
		.item a{
			background:rgba(255, 255, 255, 0.3);
			background:red;
			border-radius:41px;
			color:#f1f1f1;
			display:block;
			font-size:24px;
			font-weight:bold;
			margin:0 auto;
			height:80px;
			width:80px;
			text-decoration:none;
			-webkit-transition: all .3s ease-in-out;
		}
	}
}

